
th{
    padding: 15px;
}

.mainH{
    text-align: center;
}

body{
    box-sizing: border-box;
}
.newtask{

    border-style: dashed;
    border: 3px solid coral;
    overflow: scroll; 
    float: left;
    height: 100vh;
}
.tasklist{
    border-style: dashed;
    border: 3px solid coral;
    overflow: scroll; 
    float: right;
    height: 100vh;
    
}